<section class="row">
  <header class="col-md-12">
    <h2>Product Catalog</h2>
  </header>
</section>

<section class="row">
  <article class="col-md-12">
    <div class="row">
      <div *ngFor="let product of products" class="col-md-4 mb-3">
        <div  class="card">

          <h5 class="card-header">{{product.name}}</h5>

          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Price:</b> {{product.price | currency }}</li>
            <li class="list-group-item"><b>Description:</b> <br /> {{product.description}}</li>
            <li class="list-group-item">
              <button class="btn-primary btn-sm" (click)="addToCart(product)">Add to Cart</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>
</section>
