<section class="row">
  <article class="col-md-9">
    <h2>Shopping Cart</h2>
    <hr />
    <p *ngIf="!items || !items.length">There are no items in your shopping cart.</p>

    <div *ngFor="let item of items" class="row">
      <div class="col-md-12">
        <div class="row">

          <section class="col-md-10">
            <h5>{{ item.name }}</h5>
            <b>Description: </b>
            <p>{{ item.description }}</p>
          </section>

          <section class="col-md-2">
            <span><b>{{ item.price | currency : 'USD' : true }}</b></span>
            <form>
              <div class="form-group row">
                <label [for]="'item-' + item.id + '-qty'" class="col-md-2 col-form-label">Qty: </label>
                <div class="col-md-10">
                  <input type="number" [name]="'item-' + item.id + '-qty'" min="1" maxlength="3" [(ngModel)]="item.quantity" (change)="onQuantityChange(item.id, item.quantity)" class="form-control input-group-sm w-100">
                </div>
              </div>
            </form>
            <button class="btn btn-danger" (click)="onRemove(item.id)">Remove</button>
          </section>
        </div>
        <hr />
      </div>
    </div>
  </article>
  <aside class="col-md-3">
    <section class="card">
      <header class="card-header justify-content-between">
        Subtotal - Taxes - Total
      </header>
      <article class="card-body">
        <table class="table">
          <tr>
            <td><b>Subtotal:</b></td>
            <td align="right"><span>{{ subtotal | currency : 'USD' : true }}</span></td>
          </tr>

          <tr>
            <td><b>Tax:</b></td>
            <td align="right"><span>{{ tax | currency : 'USD' : true }}</span></td>
          </tr>

          <tr>
            <td><b>Total:</b></td>
            <td align="right"><span>{{ total | currency : 'USD' : true }}</span></td>
          </tr>
        </table>
      </article>
    </section>
  </aside>
</section>
